@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&family=Bellefair&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 62.5%;
}

/* Pages background-images */

/* home */
.image {
  background-image: url("./background-home-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image {
    background-image: url("./background-home-tablet.jpg");
  }
}
@media (min-width: 1024px) {
  .image {
    background-image: url("./background-home-desktop.jpg");
  }
}

/* Distination */

.image-destination {
  background-image: url("./background-destination-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-destination {
    background-image: url("./background-destination-tablet.jpg");
  }
}
@media (min-width: 1024px) {
  .image-destination {
    background-image: url("./background-destination-desktop.jpg");
  }
}

/* crew */

.image-crew {
  background-image: url("./background-crew-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-crew {
    background-image: url("./background-crew-tablet.jpg");
  }
}
@media (min-width: 1024px) {
  .image-crew {
    background-image: url("./background-crew-desktop.jpg");
  }
}

/* technology */

.image-technology {
  background-image: url("./background-technology-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .image-technology {
    background-image: url("./background-technology-tablet.jpg");
  }
}
@media (min-width: 1024px) {
  .image-technology {
    background-image: url("./background-technology-desktop.jpg");
  }
}

/* HAMBURGER MENU */
.hover-nav {
  @apply uppercase tracking-wider hover:underline decoration-2 decoration-white/20 underline-offset-[2.9rem] transition-all duration-300;
}

.active-nav {
  @apply uppercase decoration-white tracking-wider underline  decoration-2 underline-offset-[2.9rem] transition-all duration-300;
}

/* crew dots */

.dot {
  @apply bg-white w-[1rem] h-[1rem] rounded-full cursor-pointer;
}
.active-dot {
  @apply bg-white/50 w-[1rem] h-[1rem] rounded-full cursor-pointer;
}

.hamburger {
  cursor: pointer;
  width: 30px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  content: "";
  position: absolute;
  width: 30px;
  height: 3px;
  top: 0;
  left: 0;
  background: #9c9aa6;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* home button animation */

.btn-explore::before,
.btn-explore::after {
  content: "";
  background-color: white;
  height: 50rem;
  width: 50rem;
}

/* mask */

.mask-image {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

/* numbers */

.number-active {
  @apply bg-white font-bellefair flex justify-center items-center text-black rounded-full p-6 h-[4rem] w-[4rem] lg:h-[4rem] lg:w-[4rem];
}
.number-unactive {
  @apply border-white/50 hover:border-white border-[1px]   font-bellefair flex justify-center text-white items-center transition  duration-200 ease-in cursor-pointer select-none rounded-full p-6 h-[4rem] w-[4rem] lg:h-[4rem] lg:w-[4rem];
}
